@media screen and (orientation:portrait) {
	.orientation_overlay {
		visibility: visible;
		background-color: #111111;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 1;
	    display: table;
	}

	.orientation_overlay > div {
		display: table-cell;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 768px) {
	.app-window {
		height: 100%;
		margin:0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
	}

	.close-button {
		display: block;
	    position: absolute;
	    right: 0;
	    color: #656565;
	    font-size: 1.5em;
	    padding-top: 4px;
	    padding-right: 8px;
	    padding-left: 15px;
	    padding-bottom: 15px;
	}

	.content-area {
		background:none;
		margin:0;
	}

	.dropdown-left.ng-hide {
		width: 0;
	}

	.dropdown-top.ng-hide {
		height: 0;
	}

	.fretboard {
		background-image: url(../images/mobile_background.png);
		background-size: 100% 100%;
		background-position: initial;
		width: 100%;
		height: auto;
		padding: 0;
	}

	.menu-bar {
		font-size: 0.8em;
	}

	.menu-button {
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 5px;
		padding-bottom: 7px;
		line-height: normal;
	}

	.open-note {
		margin-top: 0;
		margin-left: 0;
		width: 82%;
		padding-right:;
	}

	.selection-box {
		position: fixed;
		width: 100%;
		height: 100%;
		margin: 0 !important;
	}

	.selection-box-container {
		height: 100%;
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch; 
	}

	.selection-box-option {
		font-size: 2em;
		padding: 0.3em;
	}
}