@font-face {
    font-family: kalos;
    src: url(../fonts/kalos-sans.book.ttf);
}

body {
	font-family: kalos;
	background-image: url(../images/background.png);
	text-align: center;
	color: white;

	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

select {
	background: #121212;
    color: #ffffff;
    font-family: kalos;
    font-weight: bold;
    font-size: 17px;
    width: 68px;
    padding: 3px
    margin-right: 5px;
}

.app_window {
	display: inline-block;
	background-image: url(../images/appbg.png);

	margin: 30px auto;
}

.top_bar {
	height: 25px;
	background-color: #111111;
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.top_bar_text {
	display: inline-block;
	padding-left: 25px;
}

.content_area {
	padding-top: 100px;
	padding-bottom: 100px;
}

.change_key_div {
	display: inline-block;
	padding-left: 10px;
}

.show_all_notes_div {
	padding-left: 25px;
	display: inline-block;
}

.tuner {
	width: 117px;
    height: 492px;
    background-color: #111111;
    display: table;
    float: left;
    position: absolute;
    top: 84px;
}

.tuner.ng-hide {
	display: inline-block!important;
	visibility: hidden;
}

.tuner_inner {
	vertical-align: middle;
	display: table-cell;
}

.tuner_notes {
	height: 40px;
	line-height: 40px;
	font-size: 19px;
}

.tuner_notes:hover {
	background-color: #333333;
}

.fretboard {
    background-size: 1000px 300px;
    background-repeat: no-repeat;
    background-position: 100px;
    width: 1100px;
    display: inline-block;

    padding-left: 99px;
}

.string {
	height: 50px;
	overflow: hidden;
}

.fret {
	float: left;
}

.note {
	font-size: 17px;
    text-shadow: 0 0 2px #ffffff;
    height: 45px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-linear-gradient(left,
    	rgba(180,105,181,0) 0%,
    	rgba(180,105,181,0.5) 15%,
    	rgba(180,105,181,1) 30%,
    	rgba(180,105,181,1) 70%,
    	rgba(180,105,181,0.5) 85%,
    	rgba(180,105,181,0) 100%);
    text-align: center;
    line-height: 47px;
	visibility: hidden;
}

.showAll > .note {
	visibility: visible;
}

.highlighted > .note {
	/*background-color: #257b47;*/
	visibility: visible;
}

.open_string {
	width: 9%;
	height: 100%;
	float: left;
	position: relative;
}

.open_note {
	font-size: 17px;
    font-weight: bold;
    background-color: #505050;
    border: 2px solid #757575;
    border-radius: 90%;
    text-align: center;
    vertical-align: bottom;
    line-height: 236%;
    position: relative;
    width: 37px;
    height: 37px;
    margin-top: 6px;
    margin-left: 42px;
    
}

.open_note:hover {
	width: 39px;
	height: 39px;
	margin-top: 5px;
	margin-left:41px;
	box-shadow: 0 0 7px #75ffb2;
}

.open_note:active {
	background-color: #444444;
}

.openInKey {
	background-color: #b469b5;
	border: 2px solid #ffd0fb;
	text-shadow: 0 0 5px #e88dff;
    box-shadow: 0 0 7px #e88dff;
}

.openInKey:active {
	background-color: #955996;
}

/*.open_string::before {
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #ff9ecb 0%, #90fba2 100%);
    padding: 10px;
    width: 100%;
    height:100%;
    display: inline-block;
    top: -10px;
    left: -10px;
    position:absolute;
    z-index:-1;
}*/

.toggle {
	display: inline-block;
	color: #656565;
	padding: 5px;
}

.toggle.selected {
	color: #FFFFFF;
	text-shadow: 0 0 8px #f9cbff;
}

.fret_0 {
	width: 9.8%;
}

.fret_1 {
	width: 9.4%;
}

.fret_2 {
	width: 9%;
}

.fret_3 {
	width: 8.5%;
}

.fret_4 {
	width: 8%;
}

.fret_5 {
	width: 7.3%;
}

.fret_6 {
	width: 7%;
}

.fret_7 {
	width: 6.5%;
}

.fret_8 {
	width: 6.3%;
}

.fret_9 {
	width: 5.8%;
}

.fret_10 {
	width: 5.4%;
}

.fret_11 {
	width: 5%;
}