@font-face {
    font-family: cuyabra;
    src: url(../fonts/cuyabra-bold.otf);
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #202020;
	font-family: cuyabra;
	text-align: center;
	color: white;
	margin: 0;
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.header {
	padding-top: 1px;
}

.app-window {
	display: inline-block;
	background-color: #111111;
	margin: 30px auto;
}

.close-button {
	display: none;
}

.content {
	background-image: url(../images/content_bg.png);
	background-size: 1529px 615px;
	background-position-x: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 615px;
}

.content-area {
	display: none;
	/*display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;*/
	position: relative;
	background--color: #202020;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow:hidden;
}

.dropdown-left {
	margin-top: 48px;
}

.dropdown-left.ng-hide {
	margin-left:-113px;
}

.dropdown-top {
	padding-top: 1px;
}

.dropdown-top.ng-hide {
	margin-top:-495px;
}

.dropdown-top.dropdown-root-note {
	margin-left: 96px;
}

.dropdown-top.dropdown-scale {
	margin-left: 235px;
}

.fret {
	position: relative;
	float: left;
}

.fret-1 {
	width: 9.5%;
}

.fret-2 {
	width: 9.6%;
}

.fret-3 {
	width: 9.2%;
}

.fret-4 {
	width: 8.5%;
}

.fret-5 {
	width: 8.3%;
}

.fret-6 {
	width: 7.4%;
}

.fret-7 {
	width: 6.9%;
}

.fret-8 {
	width: 6.8%;
}

.fret-9 {
	width: 6.3%;
}

.fret-10 {
	width: 5.9%;
}

.fret-11 {
	width: 5.4%;
}

.fret-12 {
	width: 5.1%;
}

.fretboard {
    width: 100%;
    max-width: 1086px;
    height: 299px;
    background-image: url(../images/fretboard_bg.png);
    background-size: 100% 100%;

    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    /*margin-top: 100px;
    margin-bottom: 93px;
    margin-left: 92px;*/
}

.fret-indicators {
	background-image: url(../images/fret_indicators.png);
	background-size: 100% 100%;
	width: 100%;
	max-width: 1086px;
	height: 119px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.logo {
	width: 328px;
	height: 49px;
	background-image: url(../images/logo.png);
	background-size: 100% 100%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu {
	width: 100%;
	height: 161px;
}

.menu-bar {
	text-align: left;
	padding-top: 6px;
    padding-bottom: 6px;
}

.menu-bar div {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menu-bar-label {
	display: inline-block;
	padding-left: 2%;
}

.menu-button {
    text-align: center;
    line-height: 21px;
    border: 2px solid #333333;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-fixed {
	width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-dynamic {
	margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-button:hover {
	-webkit-box-shadow: 0 0 7px #75ffb2;
	        box-shadow: 0 0 7px #75ffb2;
}

.menu-button.open {
	-webkit-box-shadow: 0 0 10px #e88dff;
	        box-shadow: 0 0 10px #e88dff;
}

.note {
	visibility: hidden;
	position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.1em;
    margin-top: 1px;
    margin-bottom: 1px;
    background-image: -webkit-linear-gradient(left,
    	rgba(196,86,173,0) 0%,
    	rgba(196,86,173,0.5) 15%,
    	rgba(196,86,173,1) 30%,
    	rgba(196,86,173,1) 70%,
    	rgba(196,86,173,0.5) 85%,
    	rgba(196,86,173,0) 100%);
}

.highlighted > .note {
	visibility: visible;
}

.open-note {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 72px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #818181;
	border: 1px solid #5b5b5b;
	border-radius: 45%;
    font-size: 1.2em;
}

.open-note:hover {
	background-color: #9b9b9b;
	border: 1px solid #747474;
}

.open-note-active {
	z-index: 1;
}

.open-note-text {
	padding-left: 4px;
}

.open-note-container {
    width: 9.4%;
    float: left;
    position: relative;
}

.open-in-key {
	background-color: #c456ad;
	border: 1px solid #983584;
}

.open-in-key:hover {
	background-color: #d17cbf;
	border: 1px solid #bd43a4;
}

.open-root {
	background-color: #60d787;
	border: 1px solid #2fbb5d;
}
.open-root:hover {
	background-color: #89e1a6;
	border: 1px solid #4cd278;
}

.orientation_overlay {
	display: none;
}

.overlay {
	position: absolute;
	top: 0;
    width: 100%;
    height: 100%;
    background-color: #040404;
    opacity: 0.5;
}

.root {
	background-image: -webkit-linear-gradient(left,
    	rgba(96,215,135,0) 0%,
    	rgba(96,215,135,0.5) 15%,
    	rgba(96,215,135,1) 30%,
    	rgba(96,215,135,1) 70%,
    	rgba(96,215,135,0.5) 85%,
    	rgba(96,215,135,0) 100%);
}

.selection-box {
    min-width: 117px;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #111111;
    position: absolute;
    top: 0;
    z-index: 2;
    -webkit-transition:all linear 0.3s;
}

.selection-box.ng-hide {
    display:block!important;
    opacity: 0;
}

.selection-box-container {
	vertical-align: middle;
}

.selection-box-option {
	height: 34px;
    line-height: 37px;
    font-size: 1.1em;
}

.selection-box-option:hover {
	background-color: #333333;
}

.separator {
	width: 100%;
	max-width: 1009px;
	height: 3px;
	background-image: url(../images/separator.png);
	background-size: 100% 100%;
	margin: auto;
}

.show_all_notes_div {
	padding-left: 25px;
	display: inline-block;
}

.string {
	display: -webkit-box;
	display: -ms-flexbox;
	display:flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	overflow: hidden;
}

.toggle {
	display: inline-block;
	color: #656565;
	padding: 5px;
}

.toggle:hover {
	text-shadow: 0 0 16px #75ffb2;
}

.toggle.selected {
	color: #FFFFFF;
	text-shadow: 0 0 8px #f9cbff;
}